{% extends 'layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block contenu %}

    <header class="header">
        <div class="blocb container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <a href="{{ url('index_index') }}"><img class="logo" src="{{ asset('assets/images/adopte-un-mec.png') }}"></a>
                </div>

            </div>
        </div>
    </header>
    <center>
        <img class="imgInscription img-responsive" src="{{ asset('assets/images/WE-WANT-YOU.png') }}">
    </center>
    {% if error is defined %}
        <div class="alert alert-danger">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {{ error }}
        </div>
    {% endif %}
    <form action="{{ url('index_inscription_post') }}" method="POST" class="form-horizontal container">

        <div class="form-group">
            <div class="col-xs-6">
                <input class="form-control" required type="text" id="PRENOMMEMBRE" name="PRENOMMEMBRE" placeholder="Saisissez votre prenom">
            </div>
            <div class="col-xs-6">
                <input class="form-control"  id="NOMMEMBRE" name="NOMMEMBRE" required type="text" placeholder="Saisissez votre nom">
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-6">
                <input class="form-control" required type="email" id="EMAILMEMBRE" name="EMAILMEMBRE" placeholder="Saisissez votre email">
            </div>
            <div class="col-xs-6">
                <input class="form-control"  id="MDPMEMBRE" name="MDPMEMBRE" required type="password" placeholder="*******">
            </div>
        </div>

        <input type="submit" class="btn btn-block btn-outline-dark" value="M'inscrire !">

    </form>

    {% include 'inc/footer.html' %}

{% endblock %}
